<div class="row" ng-controller="RequestController">
    <div class="col m3">
        <div class="row">
            <div class="col m8 push-m2">
                <div class="row">
                    <div class="col m6 pus-m3">
                        <div class="userinfo fixed responsive-img">
                            <img src="img/no_photo.jpg" class="circle responsive-img " alt="User photo" />
                            <h5 class="grey-text center">{{User.Name}}</h5>
                            <h6 class="grey-text center">Phone: {{User.Phone}}</h6>
                            <h6 class="grey-text center">Dog breed: {{Dog.Breed}}</h6>
                            <br>
                            <a href="#/requests/create" class="center">Create request</a>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col m9">
        <div class="col m7 push-m1">
            <div ng-repeat="request in requests">
                <div class="card white darken-1">
                    <div class="card-content">
                        <span class="card-title">Addres: {{request.Address}}</span>
                        <p>{{request.Text}}</p>
                        <p>Dog breed: {{request.Dog.Breed}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#/request/{{request.Id}}">Details</a>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>